<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
  <div class="grid grid-cols-3 gap-4 justify-items-center" id="buttons">
    <div class="border-solid justify-center" style=" width: 50px; height: 50px;"  id="login-button" style="border: 1px solid #000;"><img src="../public/img/login.png" alt="" onclick="clientLogin()"></div>
    <div class="border-solid" style="" id="opened-button " style="border: 1px solid #000;"><button></button></div>
    <div class="border-solid" style=""  id="closed-button" style="border: 1px solid #000;"><button></button></div>
  </div>
<div style="border: 1px solid; background-color: black;">
<h1 class="justify-center">teste 
  <h1>teste</h1>
</h1>
</div>

<footer class="bg-green-500">
  <p id="dataAtual"></p>
  <img
    src="../public/img/dboff.png"
    alt=" icone do banco de dados"
    id="iconeDB"
  />
</footer>
<script src="../public/js/renderer.js"></script>
</body>

</html>