<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <style>
      th,
      tr,
      table {
        border: 1px solid;
      }
    </style>

    <div class="container ml-2 mt-2">
      <table class="max-w-100%">
        <tr>
          <th class="p-2">LOGIN</th>
          <th class="p-2">ORDEM DE SERVIÇO</th>
          <th class="p-2">3</th>
          <th class="p-2">4</th>
          <th class="p-3">5</th>
          <th class="p-2">6</th>
        </tr>
        <tr>
          <th class="p-1">
            <button>
              <img src="../public/img/teste.jpg" alt="" />
              <a href="">botao teste</a>
            </button>
          </th>
          <th class="p-2"><button>
            <img src="../public/img/os.png" alt="">
            <a href="">ORDEM DE SERVIÇO</a>
          </button></th>
          <th class="p-2">teste do terceiro</th>
          <th class="p-2">teste do quarto</th>
          <th class="p-2">teste do quinto</th>
          <th class="p-3">teste do sexto</th>
        </tr>
      </table>
    </div>
  </body>
</html>
