<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre</title>
    <link rel="stylesheet" href="../public/css/sobre.css" />
  </head>

  <body>
    <h2>Valiação: Cadatro de cliente</h2>
    <hr />
    <h3>Cadastro de cliente</h3>
    <hr />
    <h4>Guilherme Rosa Lopes</h4>
    <hr />
    <h5>Sob a licença do MIT</h5>
    <hr />
    <p>VERSAO 1.0.0</p>
  </body>
</html>

<a href="versao"></a>
