body{
    background-color: #9defc0;
}

.greenFormat{
    color: black;
    background-color: #6fda99;
    border-radius: 5px;
    padding: 6px;
}

.greenFormat label {
    
   
  }
  .notificaCPF {
  display: none;
  position: absolute;
  background-color: #ffdddd;
  color: red;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  left: 604px;
  width: max-content;
  white-space: nowrap;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
  
