@charset "UTF-8";
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #71f3a9;
  }
}

#rodape {
  align-items: center;
  background-color: #0e9143;
  width: 770px;
  margin-left: 7px;
  height: 32px;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
  padding-left: 8px;
  position: fixed;
  bottom: 3px;
  border-radius: 12px;
}

footer p {
  color: black;
  font-size: 1.2em;
}
#graphics {
  background-color: #0e9143;
  width: 509px;
  margin-top: 5px;
  right: 7px;
  height: 431px;
  display: flex;
  position: fixed;
  padding-left: 40%;
  border-radius: 15px;
}

#rolage-table {
  background-color: #0e9143;
  width: 255px;
  margin-top: 5px;
  margin-left: 7px;
  height: 431px;
  display: flex;
  position: fixed;
  border-radius: 15px;
  overflow-y: auto;
}

#buttons {
  background-color: #0e9143;
  width: 770px;
  margin-left: 7px;
  height: 54px;
  display: flex;
  padding-bottom: 0px;
  position: fixed;
  bottom: 40px;
  padding-left: 40%;
  border-radius: 15px;
}
#informations {
font-size: 0.9em;
}
th, td {
  padding: 0.5rem; /* reduza se necessário */
  line-height: 1.2; /* ou menor */
  vertical-align: middle;
}
#tableInformations{
  
}
#leftSlide{
  color: #fcfafa;
}

.whitetext{
  color: #fcfafa;
}

#code{
  display: none;
}
