@charset "UTF-8";
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: #9defc0;
  }
}

#rodape {
  align-items: center;
  background-color: #6fda99;
  width: 770px;
  margin-left: 7px;
  height: 32px;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2px;
  padding-left: 8px;
  position: fixed;
  bottom: 3px;
  border-radius: 12px;
}

footer p {
  color: black;
  font-size: 1.2em;
}
#graphics {
  background-color: #6fda99;
  width: 492px;
  margin-top: 5px;
  right: 7px;
  height: 431px;
  display: flex;
  position: fixed;
  padding-left: 40%;
  border-radius: 15px;
}

#rolage-table {
  background-color: #6fda99;
  width: 275px;
  margin-top: 5px;
  margin-left: 7px;
  height: 431px;
  display: flex;
  position: fixed;
  border-radius: 15px;
  overflow-y: auto;
}

#buttons {
  background-color: #6fda99;
  width: 770px;
  margin-left: 7px;
  height: 54px;
  display: flex;
  padding-bottom: 0px;
  position: fixed;
  bottom: 40px;
  padding-left: 40%;
  border-radius: 15px;
}

#buttons img{
padding: 2px 2px 2px 2px;
}

#login-button{
 left: 200px;
}
#tableInformations{
  padding-left: 150px;
  font-size: 0.8em;
}
#leftSlide{
  color: #000000;
  
}

.whitetext{
  color: #fcfafa;
}

#code{
  display: none;
}
#closed-button{
  left: 200px;
}
